.calculator {
    border: 1px green solid;
    padding: 20px;

    .buttons-container {
       display: flex;
       flex-direction: row;
       
       .sum {
        background-color: yellow;
       }
       .mul{
        background-color: papayawhip;
       }
       .reset{
        background-color: aqua;
       }
        
    }



}