<p>FIRST TEST</p>

<div style="display: flex; flex-direction: row; gap: 5px;">


    <div style="display: flex; flex-direction: column; gap: 5px;">
        <app-search (searchEvent)="onSearchList($event)"></app-search>
        <app-list [items]="items" [value]="'completeData'" (loadCard)="loadCards($event)"></app-list>
    </div>
    
    <div style="display: flex; flex-direction: column; gap: 5px;">
        <div style="display: flex; flex-direction: row; gap: 5px;">
            <button (click)="loadPersonal()">Personal</button>
        <button (click)="loadGeographic()">Geographic</button>
        <button (click)="loadMessages()">Messages</button>
        </div>
    
    <app-card [messages]="cardData.messages" [data]="cardData.data"></app-card>
    </div>



</div>