<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <form #testForm="ngForm" (ngSubmit)="onSubmit(testForm)">
        <p>name</p>
        <input type="text" 
        #nameT="ngModel" 
        name="nameF"
         ngModel 
         required>
        <div *ngIf="nameT.invalid && nameT.touched" style="color: red">
          THERE IS AN ERROR
        </div>
        <p>{{ nameT.invalid | json }}</p>
        <p>{{ nameT.touched | json }}</p>

        <p>lastName</p>
        <input type="text" ngModel name="lastNameF">
        <p>age</p>
        <input type="text" ngModel name="ageF">
        <p>city</p>
        <input type="text" ngModel name="cityF">
        <p>phone</p>
        <input type="text" ngModel name="phoneF">
        <button type="submit">send data</button>
        <button type="reset">reset</button>
      </form>  

        <p>REACTIVE FORM</p>
        <input type="text" [formControl]="scoreControl">
        <button (click)="onPrintScore()">print score</button>

        <p>FORM GROUP</p>
        <form [formGroup]="studentForm">
          <p>name</p>
          <input type="text" [formControlName]="'name'">
          <!-- <div *ngIf="studentForm.get('name')?.errors?.required">
            name is required
          </div> -->
          <div *ngIf="studentForm.get('name')?.invalid && studentForm.get('name')?.touched">
            name is required
          </div>
          <button (click)="print()">print name control</button>
          <p>score</p>
          <input type="text" [formControlName]="'score'">
          <p>school</p>
          <input type="text" [formControlName]="'school'">
          <p>proffesor</p>
          <input type="text" [formControlName]="'proffesor'">
          <p>university</p>
          <input type="text" [formControlName]="'university'">
        </form>
        <button (click)="onSendData()"
        [disabled]="studentForm.invalid">send data</button>


      
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <h1 class="text-sm font-bold underline text-red-800">
    Hello world TAILWIND
  </h1>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>

  <button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button>

<p>NAVIGATION </p>


<button type="button" class="btn btn-light" [routerLink]="['card', 8]">User Card param 8</button>
<button type="button" class="btn btn-light" (click)="goToCard()">User Card param 1</button>
<button 
type="button" 
class="btn btn-dark" 
[routerLink]="'/cal'" 
[queryParams]="{ name: 'test',  lastName: 'perez'}">
Calculator QP from HTML
</button>
<button 
type="button" 
class="btn btn-dark"
(click)="onCalculator()">
Calculator QP from TS
</button>
<button type="button" class="btn btn-warning" [routerLink]="'/counter-nav'">Counter</button>
<button type="button" class="btn btn-success" [routerLink]="'/student/score'">Student Module / score</button>
<button type="button" class="btn btn-success" [routerLink]="'/student/classmate'">Student Module / classmate</button>
<button type="button" class="btn btn-danger" [routerLink]="'/student/average'">Student module/ score/average</button>

<button type="button" class="btn btn-secondary" (click)="goToStudentModule()"> from TS to Student Module </button>

<div style="border: 4cqmax solid greenyellow;height: 500px; width: 500px;">
  <router-outlet>
  </router-outlet>
</div>