.user-card {
    border: 3px solid red;
    border-radius: 50px;
    padding: 20px;
    background-color: lightseagreen;
}

.user-card-black {
    border: 3px solid black;
    border-radius: 50px;
    padding: 20px;
    background-color: chartreuse;
}