<div [ngClass]="{
    'user-card': password === '123',
    'user-card-black': password === 'hola' 
}">
    <p [ngStyle]="{
        'background-color': password === 'red' ? 'red' : 'yellow' ,
    }">USER CARD COMPONENT</p>
    <p>INPUT NAME: {{ name }}</p>
    <p>INPUT email: {{ email }}</p>

    <input type="text" [(ngModel)]="password">

    <button #buttonShow (click)="showButton = !showButton">show button</button>
    
    @if(showButton){
        <button #buttonTest (click)="onSendData()">send Data</button>
    }

    <p>PASSWORD = {{password}}</p>

    <ng-content></ng-content>

</div>